
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}




.stage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20em;
    height: 20em;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.cube > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.font {
    transform: translateZ(10em);
}
.back {
    transform: rotateX(180deg) translateZ(10em);
}
.left {
    transform: rotateY(-90deg) translateZ(10em);
}
.right {
    transform: rotateY(90deg)  translateZ(10em);
}
.top {
    transform: rotateX(90deg)  translateZ(10em);
}
.bottom {
    transform: rotateX(-90deg)  translateZ(10em);
}
.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-animation: spin linear 6s infinite;
    animation: spin linear 6s infinite;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
        -ms-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
        -o-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
        transform: translateZ(-10em) rotateX(0) rotateY(0deg);
    }
    100% {
        -webkit-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
        -ms-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
        -o-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
        transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
    }
}

.b{
    width: 33.3333333%;
    height: 33.333333%;
    border-radius: 30px;
    background-color: #cce;
}
.font .b{
    background: yellow;
}
.back .b{
    background: blueviolet;
}
.left .b{
    background: green;
}
.right .b{
    background: palegoldenrod;
}
.top .b{
    background: darkcyan;
}